<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Ai</h1>  
        <div>
          <video class="video" #liveVideo autoplay controls></video>
          <span class="m-1"></span>
          <video class="video" style="width:480px !important;" controls #recordedVideo></video>
          <br>
          <button class="btn btn-success btn-lg" *ngIf="!isRecording" (click)="stopVideoRecording()">Start Recording</button>
          <button class="btn btn-warning btn-lg" *ngIf="isRecording" (click)="stopVideoRecording()">Stop Recording</button>
        </div>
    </main>
  </body>
</html>
